<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/style.css" />
    <title>NebWatch</title>
  </head>
  <body>
    <div class="dateBox">
      <span id="tTime"></span>
      <span> | </span>
      <span id="tDate"></span>
    </div>
    <div class="title-container">
      <div>
        <img src="../assets/icon.png" id="spinner"><span>NebWatch</span>
      </div>

    </div> 
    <div class="timer_container">
      <span id="timer">0 h 0 m 0 s 00</span>
    </div>
    <div class="timer_btns">
      <button class="btn" id="toggle"><span>Start</span></button>
      <button class="btn" id="reset">Reset</button>
    </div>
    
    
    <script src="../app/stopwatch.js"></script>
    <script src="../app/time.js"></script>
  
    
  </body>
</html>